@using ReservationSite.Data
@{
    ViewData["Title"] = "Rezervasyonlarim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rezervasyonlarim</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Rezervasyon No</th>
            <th>Otel Adı</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Kişi Sayısı</th>
            <th>Çocuk Sayısı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Rezervasyonlar i in ViewBag.Rezervasyonlarim)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Otel.OtelAdi</td>
                <td>@i.BaslangicTarih.Value.ToShortDateString()</td>
                <td>@i.SonTarih.Value.ToShortDateString()</td>
                <td>@i.KisiSayisi</td>
                <td>@i.KisiSayisi</td>
                <td>
                    <a class="btn btn-danger" href="/rezervasyon/sil/@i.Id">Kaydı Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>